* {
    box-sizing: border-box;
}

:root {
    --title-font: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*=================== COMMON ===================*/
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--title-font);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 5.6rem;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.line-4 {
    --line-clamp: 4;
}

.break-all {
    overflow-wrap: break-word;
    word-break: break-word;
}

.dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.dot.active {
    background: var(--primary-color);
    cursor: default;
}
/*=============== HEADER ===================*/
.header {
    padding-top: 26px;
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .menu {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
}

nav a {
    position: relative;
    padding: 11px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

nav li.active a::after {
    position: absolute;
    bottom: 8px;
    left: 21px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

nav li.active a,
nav li a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .sign-up-btn {
    margin-left: 49px;
    width: 144px;
    font-weight: 600;
}
/*=================== HERO ===================*/
.hero {
    padding: 54px 0 65px;
    background: #fffcf4;
}

.hero .main-content {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 50%;
}

.hero .media-block img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .card {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .item {
    display: flex;
    align-items: center;
}

.hero .card .item + .item {
    margin-top: 14px;
}

.hero .card .icon {
    width: 48px;
    height: 48px;
}

.hero .info {
    margin-left: 18px;
}

.hero .info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.hero .info span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .content-block {
    margin: 64px 0 0 130px;
    width: 470px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .btn-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero .see-courses-btn {
    background: #ffb900;
    min-width: 180px;
    height: 64px;
}

.hero button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero button .icon {
    padding: 14px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero button span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
}

.hero .stats-block {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats + .stats {
    margin-left: 28px;
}

.hero .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--title-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}
/*=================== COURSES ===================*/
.courses {
    margin-top: 135px;
    padding: 65px 0;
}

.courses .row-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .text-block {
    width: 458px;
}

.courses .text-block .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.courses .btn-group {
    display: flex;
    gap: 18px;
}

.courses .btn-group button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.courses .btn-group button:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.courses .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .course-item {
    width: calc(100% / 3);
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses .course-item .info {
    padding: 16px 22px 22px;
}

.courses .course-item .head,
.courses .course-item .rating,
.courses .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .course-item .title {
    padding-right: 48px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.courses .rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.courses .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.courses .course-item .foot {
    margin-top: 12px;
}

.courses .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.courses .course-item .book-btn {
    border: none;
    padding: 0;
    font-size: 1.4rem;
}

.courses .course-item .book-btn:hover {
    background: var(--primary-color);
}
/*=================== TESTIMONIAL ===================*/
.testimonial {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.testimonial-list {
    display: flex;
    overflow: hidden;
}

.testimonial-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.testimonial .student {
    padding-right: 48px;
}

.testimonial .student .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial .student .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--title-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;
}

.testimonial .student .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.testimonial .quote {
    margin-left: auto;
    width: 66%;
}

.testimonial blockquote {
    padding-left: 28px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}
/*=================== FEATURES ===================*/
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .main-content {
    display: flex;
    gap: 130px;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.features .images .lower {
    margin-top: 34px;
}

.features .text-block {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .text-block .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.features .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.features-2 {
    margin-top: 135px;
    padding: 65px 0;
}

.features-2 .main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.features-2 .text-block {
    width: 49%;
}

.features-2 .images {
    width: 41%;
}

.features-2 .images img {
    width: 100%;
    height: 440px;
    object-fit: cover;
}
/*=================== BLOG ===================*/
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .text-block .heading {
    text-align: center;
}

.blog .text-block .desc {
    margin: 16px auto auto;
    width: 38%;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.blog-list {
    margin-top: 55px;
    display: flex;
    overflow: hidden;
    gap: 30px;
}

.blog-item {
    flex-shrink: 0;
    width: calc((100% / 3) - 20px);
    border-radius: 16px;
    background: #fff;
}

.blog-item .thumb {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog-item .info {
    padding: 20px 20px 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blog-item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.blog-item .date::before {
    content: "";
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-item .date::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: calc(100% + 27px);
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-title {
    margin-top: 12px;
}

.blog-title a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 175%;
}

.blog-item .btn {
    margin-top: 12px;
    font-size: 1.4rem;
}

.blog-item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    justify-content: center;
}

.blog .dot:not(.active) {
    background: #5f5b53;
}
