* {
    box-sizing: border-box;
}

:root {
    --title-font: "Sen", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*=================== COMMON ===================*/
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    border-radius: 999px;
    color: #fff;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}
/*=================== HEADER ===================*/
.header {
    padding-top: 26px;
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .menu {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
}

nav a {
    position: relative;
    padding: 11px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

nav li.active a::after {
    position: absolute;
    bottom: 8px;
    left: 21px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

nav li.active a,
nav li a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .sign-up-btn {
    margin-left: 49px;
    width: 144px;
    font-size: 1.6rem;
    font-weight: 600;
}
/*=================== HERO ===================*/
.hero {
    padding: 54px 0 65px;
    background: #fffcf4;
}

.hero .main-content {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 50%;
}

.hero .media-block img {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .card {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .item {
    display: flex;
    align-items: center;
}

.hero .card .item + .item {
    margin-top: 14px;
}

.hero .card .icon {
    width: 48px;
    height: 48px;
}

.hero .info {
    margin-left: 18px;
}

.hero .info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714%;
}

.hero .info .course {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .content-block {
    margin: 64px 0 0 130px;
    width: 470px;
}

.hero .content-block .title {
    color: #171100;
    font-family: var(--title-font);
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -0.116rem;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .btn-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero .see-courses-btn {
    background: #ffb900;
    min-width: 180px;
}

.hero button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero button .icon {
    padding: 14px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero button span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.hero .stats-block {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats + .stats {
    margin-left: 28px;
}

.hero .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--title-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;
}
